<h2 mat-dialog-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon">library_add</mat-icon>
    &nbsp; Add Ships
</h2>

<br>

<mat-dialog-content>
    <form [formGroup]="addshipsForm">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Ships Code</mat-label>
                    <input matInput #shipsCode formControlName="shipsCode" placeholder="TO000987" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput #shipsCountry formControlName="shipsCountry" placeholder="India" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Origin</mat-label>
                    <input matInput #shipsOrigin formControlName="shipsOrigin" placeholder="Bangalore" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Destination</mat-label>
                    <input matInput #shipsDestination formControlName="shipsDestination" placeholder="Chennai" required>
                </mat-form-field>
            </div><br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Capacity</mat-label>
                    <input matInput #shipsCapacity formControlName="shipsCapacity" placeholder="2" required>
                </mat-form-field>
            </div><br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Vendor</mat-label>
                    <input matInput #shipsVendor formControlName="shipsVendor" placeholder="APR ships" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Cost</mat-label>
                    <input matInput #cost formControlName="cost" placeholder="2500" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input matInput #CreatedBy formControlName="createdBy" placeholder="ABH190" required>
                </mat-form-field>
            </div>
            <br>

            <div>
                <mat-form-field class="date" appearance="fill">
                    <mat-label>Created Date</mat-label>
                    <input #ExpiryDate formControlName="createdDate" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-slide-toggle color="primary" formControlName="status">Active</mat-slide-toggle>

            </div>
        </div>
    </form>
</mat-dialog-content>

<br>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="addSuccess(addshipsForm.value)" [disabled]="!addshipsForm.valid">Add</button>
</mat-dialog-actions>