<h2 mat-dialog-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon">library_add</mat-icon>
    &nbsp; Add Office</h2>
<br>
<mat-dialog-content>
    <form [formGroup]="addofficeForm">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Office Code</mat-label>
                    <input matInput #officeCode formControlName="officeCode" placeholder="OF000987" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput #officeCountry formControlName="officeCountry" placeholder="India" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput #officeCity formControlName="officeCity" placeholder="Chennai" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Pin Code</mat-label>
                    <input matInput #officePincode formControlName="officePincode" placeholder="600037" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Capacity (in Persons)</mat-label>
                    <input matInput #officeCapacity formControlName="officeCapacity" placeholder="2500000" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Total Area (in sq feet)</mat-label>
                    <input matInput #officeTotalArea formControlName="officeTotalArea" placeholder="1000000" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input matInput #CreatedBy formControlName="createdBy" placeholder="Adithya" required>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field class="date" appearance="fill">
                    <mat-label>Created Date</mat-label>
                    <input #ExpiryDate formControlName="createdDate" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-slide-toggle color="primary" formControlName="status">Active</mat-slide-toggle>
            </div>
        </div>
    </form>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="addSuccess(addofficeForm.value)" [disabled]="!addofficeForm.valid">Add</button>
</mat-dialog-actions>