<h2 mat-dialog-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon">library_add</mat-icon>
    &nbsp; Add Rounding Off
</h2>

<br>

<mat-dialog-content>
    <form [formGroup]="addRoundingOffForm">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Rounding Off Point</mat-label>
                    <input matInput formControlName="roundingOffPoint" placeholder="C0098">
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Round Off Value</mat-label>
                    <input type="number" matInput formControlName="roundOffValue" placeholder=2 required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input matInput formControlName="createdBy" placeholder="PRK042" required>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field class="date" appearance="fill">
                    <mat-label>Created Date</mat-label>
                    <input formControlName="createdDate" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<br>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="addSuccess(addRoundingOffForm.value)"
        [disabled]="!addRoundingOffForm.valid">Add</button>
</mat-dialog-actions>