table {
    width: 100%;
    margin: auto;
}

.btn-edit {
    text-align: right;
}

.close-table {
    float: right;
    padding-right: 80px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

.Export {
    float: right;
    padding-right: 100px;
}

.Add-new {
    float: right;
    padding-right: 80px;
}

.save-search {
    float: right;
    padding-right: 80px;
}

th {
    background: #5da1ee;
    font-size: medium;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
}

td {
    background: #c1deff;
    height: 55px;
    width: 500px;
    font-size: medium;
}

input,
mat-form-field {
    width: 150px !important;
}

.datepicker {
    width: 150px !important;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

.example-container {
    height: 400px;
    width: 80%;
    overflow: auto;
    margin: auto;
}

.btn-edit {
    cursor: pointer;
}

.icon {
    font-size: 30px;
    margin-top: 10px;
}

.content {
    height: 400px;
    width: 60%;
    overflow: auto;
    margin: auto;
}

.filter {
    margin-left: 200px;
}

.header {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.spacing {
    padding: 10px;
}