<h2 mat-dialog-title>
    <mat-icon aria-hidden="false" aria-label="Example home icon">library_add</mat-icon>
    &nbsp; Add Warehouse</h2>
<br>
<mat-dialog-content>
    <form [formGroup]="addwarehouseForm">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Warehouse Code</mat-label>
                    <input matInput #warehouseCode formControlName="warehouseCode" placeholder="WA000987" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Country</mat-label>
                    <input matInput #warehouseCountry formControlName="warehouseCountry" placeholder="India" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput #warehouseCity formControlName="warehouseCity" placeholder="Chennai" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Pin Code</mat-label>
                    <input matInput #warehousePincode formControlName="warehousePincode" placeholder="600037" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Capacity (in TEUs)</mat-label>
                    <input matInput #warehouseCapacity formControlName="warehouseCapacity" placeholder="2500000" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Total Area (in sq feet)</mat-label>
                    <input matInput #warehouseTotalArea formControlName="warehouseTotalArea" placeholder="1000000" required>
                </mat-form-field>
            </div>
            <br>
            <div class="input">
                <mat-form-field appearance="fill">
                    <mat-label>Created By</mat-label>
                    <input matInput #CreatedBy formControlName="createdBy" placeholder="Adithya" required>
                </mat-form-field>
            </div>
            <br>
            <div>
                <mat-form-field class="date" appearance="fill">
                    <mat-label>Created Date</mat-label>
                    <input #ExpiryDate formControlName="createdDate" matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-slide-toggle color="primary" formControlName="status">Active</mat-slide-toggle>
            </div>
        </div>
    </form>
</mat-dialog-content>
<br>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="addSuccess(addwarehouseForm.value)" [disabled]="!addwarehouseForm.valid">Add</button>
</mat-dialog-actions>